<!DOCTYPE html>
<html>
  <head>
    <title>Philolexian Resolution Generator</title>
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <link href='/static/style.css' rel='stylesheet' type='text/css'>
    <script src="/static/script.js"></script>
    <script>      
      function render_data(data) {
        bot_say();

        var items = [];
        $.each(data, function( key, val ) {
          items.push( "<li id='" + key + "'><span class='resolution'><strong>R:</strong> " + val + "</span></li>" );
        });

        $('#generated').html(items.join(""));
        $("#generated li .resolution").click(function() {
          resolved = $(this).text();
          console.log(resolved);
          $.ajax({
            type: "POST",
            url: '{{ url }}',
            data: {'R': resolved},
            dataType: 'json',
            success:  function(data){
              render_data(data);
            }
          });
        });
      }
      
      function gen_items() {
        $.getJSON('{{ url }}', function(data) {
          render_data(data);
        });
      }
    
      $(document).ready(function() {
        gen_items();
        
        $("#getgen").click(function() {
          gen_items();
        });
      });
    </script>
  </head>
  <body>
    <ul id="navigation">
      <li><a href="/best">Best</a></li>
      <li><a href="/tournament">Vote</a></li>
      <li><a id="new" href="/">New</a></li>
    </ul>
    <a href="/"><img id="logo" src="static/logo.png"></a>

    <h2><span id="saying"></span> Click the best resolution.</h2>
    <ul id="resolutions">
      <div id="generated">
      </div>
      <li><span class="resolution" id="getgen">These aren't good, you stupid robot.</span></li>
      <li id="hotpants">Hotpants, hotpants, hotpants.</li>
    </div>
  </body>
</html>